@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0px 0px;
    box-sizing: border-box;
}

.space-left {
    width: 240px;
}

.space-right {
    width: 160px;
}

.hero {
    display: flex;
    flex-direction: row;
}

.middle {
    display: flex;
    flex-direction: column;
}

.hero,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header .link-text {
    display: flex;
    align-items: center;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero .main-content {
    display: flex;
    height: 500px;
    align-items: center;
    gap: 50px;
}

.hero .main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.main-content img {
    min-width: 600px;
    height: 250px;
}

.main-content-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.secondary-text,
.link-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: blue;
    width: 160px;
    height: 40px;
    border-radius: 10px;
}

button a {
    font-weight: 700;
    font-size: 18px;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1F2937;
    padding: 40px;
}

.information-body {
    display: flex;
    flex: none;
    padding-bottom: 100px;
    justify-content: center;
    gap: 60px;
}

.info-text {
    width: 200px;
    text-align: center;
}

.information-body img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px 200px 80px;
}

.quote p{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
}

.quote .quote-name {
    text-align: right;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}

.call{ 
    background-color: #3882F6;
    margin: 60px 160px 100px;
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    border-radius: 10px;
}

.call button {
    background-color: #3882F6;
    border-color: white;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.footer {
    text-align: center;
    padding: 50px 0;
    color: #F9FAF8;;
}